In [133]:
import pandas as pd 
import numpy as np

In [134]:
df= pd.read_csv("Documents/PlayTennis.csv")

In [135]:
df.head(3)

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes

In [136]:
# Use Naive bays to calculate new instances
# < outlook = sunny , temp = cool, humidity = high, wind=strong

In [137]:
# P(yes | new instances) = P(yes) * P(sunny| yes) * P(cool| yes) *  P(high| yes) * P(strong| yes)

# P(no | new instances) = P(no) * P(sunny| no) * P(cool| no) *  #  P(high| no) * P(strong| no)

In [138]:
df.columns

Index(['Outlook', 'Temperature', 'Humidity', 'Wind', 'Play Tennis'], dtype='object')

In [139]:
df['Play Tennis'].value_counts()

Play Tennis
Yes    9
No     5
Name: count, dtype: int64

In [140]:
Py=(9/14)

In [141]:
Pn=(5/14)

In [142]:
print("py is:-",Py)
print("pn is:-",Pn)

py is:- 0.6428571428571429
pn is:- 0.35714285714285715

In [143]:
# P(yes) * P(sunny| yes) * P(cool| yes) *  P(high| yes) * P(strong| yes)

# P(no | new instances) = P(no) * P(sunny| no) * P(cool| no) *  #  P(high| no) * P(strong| no)

In [144]:
pd.crosstab(df['Outlook'],df['Play Tennis'])

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [145]:
psunny_yes=(2/9)

In [146]:
psunny_no= (3/5)

In [147]:
pd.crosstab(df['Humidity'],df['Play Tennis'])

Play Tennis  No  Yes
Humidity
High          4    3
Normal        1    6

In [148]:
phigh_yes= (3/9)

In [149]:
phigh_no= (4/5)

In [150]:
pd.crosstab(df['Temperature'],df['Play Tennis'])

Play Tennis  No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [151]:
pcool_yes= (3/9)

In [152]:
pcool_no= (1/5)

In [153]:
pd.crosstab(df['Wind'],df['Play Tennis'])

Play Tennis  No  Yes
Wind
Strong        3    3
Weak          2    6

In [154]:
pstrong_yes= (3/9)

In [155]:
pstrong_no= (3/5)

In [156]:
# P(yes | new instances) = P(yes) * P(sunny| yes) * P(cool| yes) *  P(high| yes) * P(strong| yes)

# P(no | new instances) = P(no) * P(sunny| no) * P(cool| no) *  #  P(high| no) * P(strong| no)

In [157]:
Pyes_new_instance=(9/14)*(2/9)*(3/9)*(3/9)*(3/9)

In [158]:
print("Pyes_new_instance is: ", Pyes_new_instance)

Pyes_new_instance is:  0.005291005291005291

In [159]:
Pno_new_instance= (5/14)*(3/5)*(1/5)*(4/5)*(3/5)

In [160]:
print(f"Probability of No possibility of new instance is: {Pno_new_instance}")

Probability of No possibility of new instance is: 0.02057142857142857

In [161]:
# compare both probability and find maximum

In [188]:
max(0.005291005291005291,0.02057142857142857)

0.02057142857142857

In [162]:
# Using sklearn

In [163]:
df.head(10)

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes
5      Rain        Cool   Normal  Strong          No
6  Overcast        Cool   Normal  Strong         Yes
7     Sunny        Mild     High    Weak          No
8     Sunny        Cool   Normal    Weak         Yes
9      Rain        Mild   Normal    Weak         Yes

In [164]:
# convert all categorical value in numerical

In [165]:
from sklearn.preprocessing import LabelEncoder

In [166]:
Ole=LabelEncoder()
Tle=LabelEncoder()
Hle=LabelEncoder()
Wle=LabelEncoder()

In [167]:
df['Outlook']=Ole.fit_transform(df['Outlook'])

In [168]:
df['Temperature']=Ole.fit_transform(df['Temperature'])
df['Humidity']=Ole.fit_transform(df['Humidity'])
df['Wind']=Ole.fit_transform(df['Wind'])

In [185]:
df.head(10)

   Outlook  Temperature  Humidity  Wind  Play Tennis
0        2            1         0     1            0
1        2            1         0     0            0
2        0            1         0     1            1
3        1            2         0     1            1
4        1            0         1     1            1
5        1            0         1     0            0
6        0            0         1     0            1
7        2            2         0     1            0
8        2            0         1     1            1
9        1            2         1     1            1

In [170]:
df['Outlook'].value_counts()

Outlook
2    5
1    5
0    4
Name: count, dtype: int64

In [171]:
df['Play Tennis']=df['Play Tennis'].map({"No":0, "Yes":1})

In [172]:
df.head(3)

   Outlook  Temperature  Humidity  Wind  Play Tennis
0        2            1         0     1            0
1        2            1         0     0            0
2        0            1         0     1            1

In [173]:
x =df.iloc[:,:-1]

In [174]:
y=df.iloc[::,-1]

In [175]:
# from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB

In [176]:
from sklearn.model_selection import train_test_split

In [177]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [178]:
# model=MultinomialNB()
model= GaussianNB()

In [179]:
model.fit(X_train,y_train)

GaussianNB()

In [180]:
y_pred=model.predict(X_test)

In [181]:
from sklearn.metrics import accuracy_score

In [182]:
accuracy_score = accuracy_score(y_pred, y_test)

In [183]:
print(accuracy_score)

0.6

In [187]:
print(model.predict([[2,0,0,0]]))

[0]

C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(